@use "../global.scss";

html {
  background-color: white;
}

$outer-padding: 20px;
$inner-padding: 20px;

body {
  @include global.font;
  margin: 0;
  border: global.$border;

  .popup {
    
    &[active="false"] {
      background: global.$red-gradient;
    }
    &[active="true"] {
      background: global.$green-gradient;
    }

    margin: 0;
    padding: $outer-padding;

    .inner-box {
      @include global.white-box;
      text-align: center;
      padding: $inner-padding;

      .title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 28px;
        width: max-content;
        margin: 0 15px;
        margin-bottom: $outer-padding;
      }

      .status {

        &[active="false"] {
          background: global.$red-gradient;
        }
        &[active="true"] {
          background: global.$green-gradient;
        }

        margin: $inner-padding calc(0px - $inner-padding);
        border-top: global.$border;
        border-bottom: global.$border;

        h1 {
          text-transform: uppercase;
          font-weight: 900;
          font-size: 60px;
          margin: 0;
          color: white;
        }

        .project-item {
          margin-bottom: 10px;
        
          .img {
            height: 25px;
            width: 25px;
          }
        
          p {
            color: white;
          }
        }
      }

      .timers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: $inner-padding;

        p {
          text-transform: uppercase;
          margin: 0;
          font-weight: 500;
          font-size: 14px;
        }

        h3 {
          margin: 0;
          font-weight: 700;
          font-size: 22px;
        }
      }

      button {
        @include global.button;
        margin-bottom: $inner-padding;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }

      .play-button {
        img {
          width: 13px;
        }
      }

      a {
        font-size: 15px;
        text-decoration: underline;
        font-weight: 600;

        &:hover {
          cursor: pointer;
          color: gray;
        }
      }
    }
  }

}

.welcome-modal {

  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
  }

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }

}