@use "../../global.scss";
@use "../popup.scss";

.project-dropdown {
  margin-bottom: popup.$inner-padding;
  position: relative;

  .main-button {
    @include global.button;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .menu {
    @include global.button;
    padding: 0;
    position: absolute;
    bottom: 100%;
    // overflow: hidden;
    display: none;

    .item {
      display: flex;
      align-items: center;
      position: relative;

      padding: 12px 20px;
      box-sizing: border-box;
      text-align: left;

      border-bottom: 1px solid gray;
      width: 100%;

      &[isselected="true"] {
        background-color: rgb(226, 226, 226);
      }

      &:hover {
        background-color: rgb(196, 196, 196);
      }
    
      .project-item {
        .img {
          height: 20px;
          width: 20px;
        }
      
        p {
          font-size: 18px;
          color: black;
        }
      }

      .delete-button {
        position: absolute;
        right: -18px;
        background-color: rgb(255, 59, 59);
        box-shadow: 0px 5px 10px rgb(41, 41, 41);
        border: 3px solid black;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 12px;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .add {
      border-bottom: 3px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      gap: 10px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
  }

  &[isopen="true"] {

    .main-button {
      border-top-right-radius: 0;
      border-top-left-radius: 0;

      transform: scale(1);

      img {
        transform: rotate(180deg);
      }
    }

    .menu {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      transform: translateY(4px);
      display: block;
    }

  }

}