@use "../global.scss";

html {
    background: global.$green-gradient;
    height: 100vh;
}

body {
    margin: 0;
    @include global.font;
}

$outer-padding: 40px;

.stats {
    padding: $outer-padding;


    .main-box {
        @include global.white-box;
        box-sizing: border-box;
        height: calc(100vh - (2 * $outer-padding));

        padding: 30px;

        .header {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            gap: 20px;

            h1 {
                font-size: 40px;
                text-transform: uppercase;
                font-weight: 800;
                margin: 0;
            }

            .buttons {
                margin-left: auto;
                position: relative;
                display: flex;
                gap: 20px;

                button {
                    @include global.button;
                    width: 200px;
                }
            }
        }

        .bar-container {
            box-sizing: border-box;
            height: calc(100% - 60px);

            canvas {
                height: 100%;
            }
        }
    }


}