@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin font {
  font-family: 'Lexend', sans-serif;
}

$border: 3px solid black;

@mixin white-box {
  border: $border;
  background-color: white;
  border-radius: 15px;
}


$green-gradient: linear-gradient(310deg, #38761dff, #93c47dff);
$red-gradient: linear-gradient(310deg, #cc0000ff, rgb(228, 115, 115));