@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin font {
  font-family: 'Lexend', sans-serif;
}


$green-gradient: linear-gradient(310deg, #38761dff, #93c47dff);
$red-gradient: linear-gradient(310deg, #cc0000ff, rgb(228, 115, 115));

html {
  background-color: white;
}

$border: 3px solid black;

body {
  @include font;
  margin: 0;
  border: $border;

  $outer-padding: 20px;
  $inner-padding: 20px;

  .popup {
    
    &[active="false"] {
      background: $red-gradient;
    }
    &[active="true"] {
      background: $green-gradient;
    }

    margin: 0;
    padding: $outer-padding;

    .inner-box {
      border: $border;
      background-color: white;
      border-radius: 15px;
      text-align: center;
      padding: $inner-padding;

      .title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 28px;
        width: max-content;
        margin: 0 15px;
        margin-bottom: $outer-padding;
      }

      .status {

        &[active="false"] {
          background: $red-gradient;
        }
        &[active="true"] {
          background: $green-gradient;
        }

        margin: $inner-padding calc(0px - $inner-padding);
        border-top: $border;
        border-bottom: $border;

        h1 {
          text-transform: uppercase;
          font-weight: 900;
          font-size: 60px;
          margin: 0;
          color: white;
        }

        .project {
          margin-bottom: 10px;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          .img {
            height: 15px;
            width: 15px;
            border-radius: 100%;
            border: solid 2px black;
            background-color: white;
          }

          p {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 15px;
            margin: 0;
            color: white;
          }

        }
      }

      .timers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: $inner-padding;

        p {
          text-transform: uppercase;
          margin: 0;
          font-weight: 500;
          font-size: 14px;
        }

        h3 {
          margin: 0;
          font-weight: 700;
          font-size: 22px;
        }
      }

      button {
        background-color: black;
        border: none;
        color: white;
        @include font;
        text-transform: uppercase;
        padding: 8px;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        border-radius: 10px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        margin-bottom: $inner-padding;
        border: 3px solid black;

        &:hover {
          cursor: pointer;
          background-color: rgb(48, 48, 48);
          transform: scale(1.03);
        }

        &.inverted {
          background-color: white;
          color: black;
        }
      }

      a {
        font-size: 15px;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }

}