@use "../../global.scss";

.select-project-modal {

  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    width: 100%;

    .item {
      @include global.field;
      padding: 0 10px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: start;
      box-sizing: border-box;

      &.project {
        width: 100%;
        
        .project-item {
          gap: 10px;

          p {
            line-height: 16px;
            text-align: left;
            font-size: 17px;
            color: black;
          }

        }

        &[isselected="true"] {
          background-color: rgb(226, 226, 226);
        }

      }

      &.add {
        width: 100%;
        gap: 10px;
        font-size: 16px;
        font-weight: 600;
      }

      &:hover {
        background-color: rgb(196, 196, 196);
        cursor: pointer;
        transform: scale(1.04);
      }

    }

    .delete-button {
      background-color: rgb(255, 59, 59);
      border: 3px solid black;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 12px;
      }

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }

  }

}

.add-project-modal {

  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 50px;
  }

}


.confirm-deletion-modal {

  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;

    span {
      font-weight: 900;
    }
  }

  button {
    @include global.button;

    &.cancel {
      margin-top: 20px;
    }
  }

}